{% load static %}
{%include 'commons/includes/header.html' %}
<body class="text-center" style="background-color: #f5f5f5;">
    {%include 'commons/includes/navbaritems.html' %}
    <div class="container">
        {%include 'commons/includes/messaging.html' %}
        <br>
        {% block content %}
        
        {% endblock %}
    </div>
    <!-- jquery -->
    <script src="{% static 'commons/js/jquery-3.4.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'commons/js/popper.min.js' %}"></script>
    <!-- bootstrap4 js -->
    <script src="{% static 'commons/js/bootstrap.min.js' %}"></script>
    <!-- autoclosealert js -->
    <script src="{%static 'commons/js/autoclosealerts.js' %}"></script>
    <!-- logoutscript js -->
    <script src="{% static 'commons/js/logoutscript.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    {% include 'commons/includes/footeritems.html' %}
</body>