<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'ui/images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap4 css -->
    <link href="{% static 'ui/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>sms.et | Invoice</title>
</head>
<body class="text-center" style="background-color: #f5f5f5;">
    <div class="container-fluid align-items-center align-middle">
        <header>
            <div class="row">
                <div class="col-md-12 bg-primary">
                    <h1 class="font-weight-bold self-center h1 text-white">Service Invoice</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="font-weight-light self-center h4"><p>Customer Name: <span class="font-weight-lighter"> {{ username.company_name }}</span></p></h4>
                    <h4 class="font-weight-light self-center h4"><p>Account: <span class="font-weight-lighter"> {{ account }}</span></p></h4>
                    <h4 class="font-weight-light self-center h4"><p>T.I.N: <span class="font-weight-lighter"> {{ tin }}</span></p></h4>
                </div>
                <div class="col-md-6">
                    <h4 class="font-weight-light self-center h4"><p>Invoice number: <span class="font-weight-lighter"> {{ invoice_number }}</span></p></h4>
                    <h4 class="font-weight-light self-center h4"><p>Email: <span class="font-weight-lighter"> {{ email }}</span></p></h4>
                    <h4 class="font-weight-light self-center h4"><p>Bill Month: <span class="font-weight-lighter"> {{ bill_month }}</span></p></h4>
                    <h4 class="font-weight-light self-center h4"><p>Due date: <span class="font-weight-lighter"> 5 days from this invoice</span></p></h4>
                </div>
            </div>
        </header>
    </div>
    <hr class="bg-primary">
    <h6 class="font-weight-lighter self-center h6"><p>Paid status: {{payment_status}}</p></h6>
    <hr class="bg-primary">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <label class="font-weight-light self-center h2">All users that sent sms:</label>
                <div class="row">
                    <div class="col-md-4">
                        <!-- dict object all _sms_sent is garnered from the views and parsed accordingly as key & value of all_sms_sent.items -->
                        {% for key, value in all_sms_sent.items %}
                        <h4 class="font-weight-lighter h4">username</h4>
                        {% for val in value %}
                        <p>{{ val.user }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-weight-lighter h4">Company</h4>
                        <p>{{ val.user.company_name }}</p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="font-weight-lighter h4">Total sent</h4>
                         <p>{{ val.total_sent_single_user }}</p>
                         {% endfor %}
                         {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-light self-center h4">Total sms sent in the month:</h4>
                    </div>
                    <div class="col-md-6">
                        <p>{{ total_amount_sent }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-light self-center h4">Price per text:</h4>
                    </div>
                    <div class="col-md-6">
                        <p>0.70 Birr</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-light self-center h4">V.A.T:</h4>
                    </div>
                    <div class="col-md-6">
                        <p>{{ vat }} Birr</p>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-light self-center h4">Total:</h4>
                    </div>
                    <div class="col-md-6">
                        <p>{{ total_price }} Birr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <div class="container-fluid align-items-center align-middle bg-primary">
        <footer>
            <div class="row text-white">
                <div class="col-md-4">
                    <h4 class="font-weight-light self-center h4"><p>Address</p></h4>
                    <p class="quote font-weight-light center">Ethiopia, Addis Ababa, Kirkos sub-city, woreda 02,  House No. 700.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'ui/images/logo.jpg' %}" width="50" height="40" class="d-inline-block align-top navbar-brand" alt="">
                    <br>
                    <a href="www.sms.et" class="text-white blockquote">www.sms.et</a>
                </div>
                <div class="col-md-4">
                    <p class="quote font-weight-light center">Outstanding bill must be settled 5 days after issuance of this service invoice.</p>
                    <p class="quote font-weight-light center">Any questions can be forwared to us via our phone number: +251977207777</p>
                </div>
            </div>
        </footer>
    </div>
</body>
<!-- jquery -->
<script src="{% static 'ui/js/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
<script src="{% static 'ui/js/popper.min.js' %}"></script>
<!-- bootstrap4 js -->
<script src="{% static 'ui/js/bootstrap.min.js' %}"></script>
</html>